.upcomingBG img {
    opacity: 0.5;
    filter: blur(4px);
    transform: scale(3);
}
.activeUpcomingBG {
    opacity: 0;
}

.upcomingSlider {
    display: flex;
    background-color: rgb(12, 12, 12);

    transform: scale(1.1);
    opacity: 1;
}

.activeUpcomingSlider {
    display: flex;
    background-color: rgb(12, 12, 12);

    transform: scale(0.6);
    transition: transform 600ms;
    opacity: 0.5;
}
.upcommingDetail h1 {
    color: white;
    padding: 1rem;
}
.upcommingDetail p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: white;
    padding: 1rem;
}

.arrowLeft {
    color: rgb(255, 174, 0);
    border-radius: 10rem;
    padding: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    left: 0%;
    top: 65%;
}

.arrowRight {
    color: rgb(255, 174, 0);
    padding: 2rem;
    border-radius: 10rem;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    right: 0%;
    top: 65%;
}
